
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:"Poppins",sans-serif;
}
section{
  position:relative;
  width:100%;
  min-height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  background:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(https://images.unsplash.com/photo-1503220317375-aaad61436b1b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTJ8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80);
  background-size:cover;
  background-position:center;
}
header{
  position:relative;
  top:0;
  width:100%;
  padding:30px 100px;
  display:flex;
  justify-content:space-between;
  align-items:center;
}
header .logo img{
  position:relative;
  width: 20%;
	padding: 15px 0;
}
header .navigation{
  float: right;
	list-style: none;
	
}
header .navigation a{
  display: inline-block;
  color: #fff;
	text-decoration: none;
	padding: 5px 20px;
	font-family: poppins;
	font-size: 16px;
	text-transform: uppercase;
  transition:0.3s;
  transition-property: background;
}
header .navigation a:not(:last-child){
  margin-right:30px;
}
header .navigation a:hover{
  background: #fff;
	color: #333;
}

.content{
  max-width:700px;
  margin:60px 100px;
}

.content .info h1{
  color:white;
  font-size:55px;
  text-transform:uppercase;
  font-weight:800;
  letter-spacing:2px;
  line-height:60px;
  margin-bottom:30px;
  padding-top: 10%;
  font-family: poppins;
}
.content .info h6{
	color: rgb(134, 180, 201);
	font-size: 50px;
  font-weight:600;
  font-family: poppins;
}
.content .info a{
  text-align: center;
  	display: inline-block;
  	font-size: 1em;
  	background: rgb(253, 251, 251);
  	padding: 10px 30px;
  	text-transform: uppercase;
  	text-decoration: none;
  	font-weight: 500;
  	margin-top: 30px;
  	color: rgb(3, 0, 0);
  	letter-spacing: 2px;
  	transition: 0.2s;
	font-family: poppins;
}
.media-icons{
  display:flex;
  justify-content: center;
  align-items: center;
  margin:auto;
}

.media-icons a{
  position:relative;
  color:#fff;
  font-size:25px;
  transition:0.3s;
  transition-property:transform;
}

.media-icons a:not(:last-child){
  margin-right:60px;
}

.media-icons a:hover{
  transform:scale(1.5);
}
label{
  display:none;
}
#check{
  z-index:3;
}

@media (max-width:960px){
  header .navigation{
    display:none;
  }
  label{
    display:block;
    font-size:25px;
    cursor:pointer;
    transition:0.3s;
    transition-property:color;
  }
  label:hover{
    color:#fff;
  }
  label .close-btn{
    display:none;
  }

  #check:checked~header .navigation{
    z-index:2;
    position:fixed;
    background:rgb(46, 45, 45);
    top:0;
    bottom:0;
    left:0;
    right:0;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
  }

  #check:checked ~header .navigation a{
    font-weight:700;
    margin-right:0;
    margin-bottom:50px;
    letter-spacing:2px;
  }

  #check:checked ~ header label .menu-btn{
    display:none;
  }

  #check:checked ~ header label .close-btn{
    z-index:2;
    display:block;
    position:fixed;
  }

  label .menu-btn{
    position:absolute;
  }

  header .logo img{
    position:absolute;
    bottom:-6px;
    width:30px;
  }
  .content .info h1{
    font-size:55px;
    line-height:50px;
  }

  .content .info h1 span{
    font-size:40px;
    font-weight:600;
  }

  .content .info h2{
    font-size:45px;
    line-height:50px;
  }

  .content .info h2 span{
    font-size:40px;
    font-weight:600;
  }
}

@media (max-width:560px){
  .content .info h1{
    font-size:50px;
    line-height:50px;
  }

  .content .info h1 span{
    font-size:30px;
    font-weight:600;
  }

  .content .info h2{
    font-size:10px;
    line-height:50px;
  }

  .content .info h2 span{
    font-size:5px;
    font-weight:600;
  }
  }

